<!-- rooms.component.html -->
<div>
    <app-sidebar></app-sidebar>
  </div>
  
  <!-- <div class="container">
    <h1 class="sub-title">Available Rooms</h1>
    
    <div *ngFor="let roomType of groupRoomsByType()" class="room-category">
      <h2>{{ roomType }}</h2>
      <div class="room-list">
        <div *ngFor="let room of groupedRooms[roomType]" class="room-card">
          <div class="room-info">
            <h3>{{ room.type }} - Room {{ room.roomNumber }}</h3>
            <p>{{ room.description }}</p>
            <p><strong>Price: </strong>&#8377;{{ room.roomPrice }}</p>
          </div>
          <div class="room-actions">
            <button class="book-button" [ngClass]="{'booked': room.isBooked}" (click)="toggleBookingStatus(room)">
              {{ room.isBooked ? 'Unbook' : 'Book' }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  